* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: roboto;
  min-width: 1200px;
  background-color: #272726;
}

.wrapper {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e9d356;
  margin-top: 20px;
}

.wrapper-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}

.account-setting {
  margin-left: -30px;
  font-size: 20px;
  font-weight: 400;
}

.exit-icon {
  color: #272726;
  font-size: 18px;
  margin-top: 5px;
}

.exit-icon:hover {
  color: #000000;
}

.avatar {
  position: relative;
  z-index: 1;
  border-radius: 50%;
  left: 80px;
  top: 30px;
}

form {
  background-color: #ffffff;
  width: 450px;
  padding-left: 30px;
  padding-top: 50px;
  padding-bottom: 30px;
  transform: translate(50px);
  box-shadow: -5px 5px 30px #272726;
}

.first-last-name {
  display: flex;
}

label {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  opacity: 40%;
  margin: 10px 0;
}

input {
  border-color: transparent;
  width: 380px;
  padding-top: 15px;
  margin-bottom: 0;
  outline: none;
  border: none;
}

.last-first {
  width: 190px;
}

textarea {
  border-color: transparent;
  max-width: 380px;
  min-width: 380px;
  outline: none;
  border: none;
  resize: vertical;
}

.input-subline {
  width: 380px;
  margin-left: 0;
  background-color: #b6b6b3;
  height: 0.01%;
  border-color: transparent;
}

.input-subline:last-child {
  margin-bottom: 30px;
}

.bottom-item {
  display: flex;
}

.bottom-text {
  margin-left: 30px;
  color: #272726;
  margin-top: 25px;
  margin-bottom: 20px;
}

.bottom-text:hover {
  color: #000000;
}

.bottom-text:first-child {
  margin-left: 300px;
}
